<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <h1 th:text="${formAdd}?'Add New Article':'Update Article'">Add New Article</h1>
    <h2><a href="/article">Back</a></h2>

    <form th:action="${formAdd}?'/add':'/edit'" method="post" th:object="${article}" enctype="multipart/form-data">
        ID: <input type="text" placeholder="Enter ID" th:field="*{id}"/>
        <br/><br/>

        <div th:classappend="${#fields.hasErrors('title')}? 'has-error'">
            Title: <input type="text" placeholder="Enter Title" th:field="*{title}"/>
            <span th:if="${#fields.hasErrors('title')}" th:errors="*{title}" th:class="help-block">Title Errors</span>
        </div>
        <br/><br/>

        <div th:classappend="${#fields.hasErrors('description')}? 'has-error'">
            Description: <input type="text" placeholder="Enter Description" th:field="*{description}"/>
            <span th:if="${#fields.hasErrors('description')}" th:errors="*{description}" th:class="help-block">description Errors</span>
        </div>
        <br/><br/>

        <div th:classappend="${#fields.hasErrors('author')}? 'has-error'">
            Author: <input type="text" placeholder="Enter Author" th:field="*{author}"/>
            <span th:if="${#fields.hasErrors('author')}" th:errors="*{author}" th:class="help-block">author Errors</span>
        </div>
        <br/><br/>

        <input type="file" name="image"/>
        <br/><br/>

        <input type="submit" th:value="${formAdd}?'Save':'Update'"/>

    </form>

</body>
</html>