<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
    <h1>Article List</h1>
    <h2><a href="/add">Add New</a></h2>

    <table border="1">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Author</th>
            <th>Created Date</th>
            <th>Thumbnail</th>
            <th>View</th>
            <th>Delete</th>
            <th>Update</th>
        </tr>
        <tr th:each="article:${articles}" th:object="${article}">
            <td th:text="*{id}"></td>
            <td th:text="*{title}"></td>
            <td th:text="*{description}"></td>
            <td th:text="*{author}"></td>
            <td th:text="*{createDate}"></td>
            <td><img th:src="*{thumbnail}" alt="" style="width: 100px; height: 100px;"/></td>
            <td><a th:href="@{/article/{id}(id=*{id})}">View</a></td>
            <td><a th:href="@{/delete/{id}(id=*{id})}">Delete</a></td>
            <td><a th:href="@{/edit/{id}(id=*{id})}">Update</a></td>
        </tr>
    </table>
</body>
</html>