<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title th:text="${article.title}"></title>
</head>
<body>
    <h1 th:text="${article.title}"></h1>
    <h1 th:text="${article.description}"></h1>
    <h1 th:text="${article.author}"></h1>
    <h1 th:text="${article.createDate}"></h1>

    <h2><a href="/article">Back</a></h2>


</body>
</html>